
/* Importing Google Font - Roboto */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

/* General Styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
font-family: "Ubuntu", sans-serif;
background-color: white;
color: white;
line-height: 1.6;
}

/* Header Styling */

header {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #1e2122;
}

img.logo {
max-width: 50%;
height: auto;
margin-left: 20px;
}

.nav-links {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links li {
    display: inline-block;
    padding: 10px 20px;
}

.nav-links a:hover {
    text-decoration: underline #1f7ae6 5px;
    color: white;
}
.nav-links {
    padding-top: 20px;
}

.btn-secondary, .dropdown-toggle, .btn {
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    line-height: 1.6;
    padding: 8px 15px;
    margin-right: 20px;
    margin-top: 20px;
    color: white;
    background-color: #1f7ae6;
    border-style: none;
}

.login-register-button {
    padding-bottom: 20px;
}


/* Profile Wrapper */


/* Index Page Input Form */

.form-control {
    text-align: center;
    padding: 20px 0px;
}
#steamidinput {
    font-weight: bold;
    font-size: 1.2rem;
}

/* End of Input Form */

/* Utilities */

.submit-profile {
    font-size: 1.4rem;
    background-color: #1f7ae6;
    margin: 20px 0px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    background-color: #1e2122;
    text-align: center;
    font-size: 0.8rem;
}

.footer-container {
    margin: 20px 0px;
    padding: 10px 30px;
}