/* Header Styling */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.img-wrapper {
    text-align: center;
    margin-right: 25px;
}

/* End of Header Styling */

/* Utilities */
@media screen and (max-width: 768px) {
    .submit-profile {
        font-size: 1.0rem;
    }
  }
