{% extends "layout.html" %}

    {% block title %}
    Register
    {% endblock %}

    {% block main %}
        <!-- CTA -->
        <section>
            <div class="container-fluid bg-dark text-white pt-5 pb-5">
                <div class="row">
                    <div class="col">
                        <h1 class="h2 display-sm-4 display-md-3 text-center">Register</h1>
                        <p class="text-center scrolling-on">Register to save and export user data</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Warning messages -->
        {% block content %}
        <div class="container mt-5 w-50">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-danger text-center">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}

            {% block page_content %}{% endblock %}
        </div>
        {% endblock %}

        <!-- Registration form -->
        <section class="mt-5" style="margin-bottom: 250px;">
            <div class="container text-center col-md-3">
                <form action="" method="post">

                    <div class="form-group">
                            <label for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username"> 
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password">
                    </div>

                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input class="form-control" type="password" id="password2" name="password2">
                    </div>

                    <div class="container form-buttons">
                        <div class="row mx-auto">
                            <div class="col-6 col-md-6 col-lg-6 my-auto">
                                <button class="btn btn-primary"  type="submit"><i class="fas fa-user" ></i> Register</button>
                            </div>

                            <div class="col-6 col-md-6 col-lg-6 my-auto">
                                <a href="/" class="btn btn-primary" role="button"><i class="fas fa-home" ></i> Main page </a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </section>
    {% endblock %}