{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<!-- Slider of the home page -->
<div id="steam_app_slider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#steam_app_slider" data-slide-to="0" class="active"></li>
      <li data-target="#steam_app_slider" data-slide-to="1"></li>
      <li data-target="#steam_app_slider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../static/images/track-user-game-actvity-steam-app-hunter_1280x720.jpeg" alt="First slide" style="max-height:384px; object-fit: cover;">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../static/images/various-in-depth-gamin-details_1280x720.jpeg" alt="Second slide" style="max-height:384px; object-fit: cover;">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../static/images/scan-steam-user-nickname-history_1280x720.jpeg" alt="Third slide" style="max-height:384px; object-fit: cover;">
      </div>
    </div>
  </div>
<!-- Ender of slider -->
<!-- CTA -->
<section>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-sm-4 display-md-3 text-center text-dark">Getting Steam player's activity</h1>
            <p class="lead text-center text-dark">Curious how many hours spent in games? Let it to us!</p>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <form class="form-inline">
            <input class="form-control w-100 input-profile" type="text" id="steamidinput" placeholder="Steam profile link">
            <br>
            <button class="btn btn-block btn-primary submit-profile" type="submit">Submit</button>
        </form>
    </div>
</section>
{% endblock %}