<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon-1.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" media="screen and (max-width: 768px)" href="../static/mobile.css">
        <title>Steam User Hunter: {% block title %}{% endblock %}</title>
      </head>
<body>
    <header>
            <div class="img-wrapper">
                <img src="../static/images/steam-hunter-logo.png" alt="steam-user-hunter" class="logo">
            </div>
            {% if session.user_id %}
            <nav class="menu-links">
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/#profile-sumbission">Search Profile</a></li>
                    <li><a href="#">History</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <div class="login-register-button">
                <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Your account</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>
            {% else %}
            <nav class="menu-links">
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/#profile-sumbission">Search Profile</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <div class="login-register-button">
                <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New user ?</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/login">Login</a>
                <a class="dropdown-item" href="/register">Register</a>
                </div>
            </div>
            {% endif %}
    </header>
    <main>
        <div class="container-fluid m-0 p-0">
        {% block main %}{% endblock %}
        </div>
    </main>
    <footer id="footer-layout">
        <div class="footer-container">
            <p>Developed by <a href="https://pandorax.cc/" target="_blank">pandoraxcc</a></p>
            <p><a href="#">Contact</a> | <a href="#"> Privacy Policy</a> | <a href="faq">FAQ</a></p>
            <p>All trademarks are property of their respective owners in the US and other countries.</p>
            <p>Valve and Steam are registered trademarks of Valve Corporation.</p>
        </div>
    </footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

</body>
</html>