{% extends "layout.html" %}

{% block title %}
Results of search
{% endblock %}

{% block main %}
<section>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-sm-4 display-md-3 text-center text-dark">You requested</h1>
            <p class="lead text-center text-dark scrolling-on">{{ provided_url }}</p>
        </div>
    </div>
</section>
{% if if_profile_exists == True %}
    <section>
        <div class="profile-result-wrapper">
            <div class="steam-profile">
                <img src="{{steam_profile}}" alt="Steam avatar">
            </div>
            <div class="steam-data">
                <h3 class="display-sm-4 display-md-3 text-dark">{{ user_nickname }}</h3>
                {% if status == False %}
                <p class="lead text-dark scrolling-on">Gaming data unavailable</p>
                {% else %}
                <p class="lead text-dark scrolling-on"><i class="fas fa-clock"></i> {{ hours }} hour(s)</p>
                {% endif %}
                <a class="btn btn-outline-success" href="{{real_steam_id}}" role="button" target="_blank"><i class="fas fa-user"></i> Steam Profile</a>
                <a class="btn btn-primary" href="/#profile-sumbission" type="button"><i class="fas fa-retweet"></i> Search another?</a>
            </div>
        </div>
    </section>
{% else %}
    <section>
        <div class="profile-result-wrapper">
            <div class="steam-profile">
                <img src="../static/images/unknown-porfile.jpeg" alt="Steam avatar" class="">
            </div>
            <div class="steam-data">
                <p class="text-danger">We can't fetch provided url</p>
                <a class="btn btn-primary" href="/#profile-sumbission" type="button"><i class="fas fa-retweet"></i> Try again?</a>
            </div>
            </div>
        </div>
    </section>
{% endif %}
{% endblock %}